<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <navigation>
            <mega_dropdown>
                <is_enabled>0</is_enabled>
                <all_categories_label>All Categories</all_categories_label>
                <third_level_limit>99</third_level_limit>
            </mega_dropdown>
        </navigation>
    </default>
</config>
